<ion-content class="ion-padding ">
  <div class="container">
    <ion-img src="../../assets/images/magia_logo.png" alt="magia-logo" class="logo ion-margin-bottom"></ion-img>
    <ion-img src="../../assets/images/magia.png" alt="Imagem de exemplo" class="logo-bruxinha bounce"/>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="custom-space">
        <ion-input
          label="Senha"
          labelPlacement="floating"
          type="password"
          formControlName="password">
        </ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="tertiary" class="ion-margin-bottom" [disabled]="!loginForm.valid">
        Entrar
      </ion-button>
    </form>
    <!-- <ion-button class="login-google" color="medium" expand="block">
      Logar com Google
    </ion-button> -->
    @if(credencialInvalida){
      <p [ngStyle]="{'color': 'red'}"> Credenciais inválidas!</p>
    }

    @if(isloading){
      <app-loading [loading]="isloading"></app-loading>
    }

    <div class="mobile-warning">
  <div class="mobile-warning__icon">📱</div>

  <div class="mobile-warning__content">
      <h3>Melhor experiência em dispositivos móveis</h3>
      <p>
        O <strong>Magia</strong> foi desenvolvido com foco em smartphones. Se
        estiver acessando pelo computador, utilize o modo responsivo do navegador
        (F12 → ícone de dispositivo móvel) para visualizar a interface como ela
        foi projetada.
      </p>
    </div>
  </div>

    <!-- <p>
      <a [routerLink]="'/create-account'">Não tem conta? Clique aqui para criar!</a>
    </p> -->
  </div>
</ion-content>
