<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-header">

    <div class="avatar">
      <img src="../../assets/images/magico.png" />
    </div>

    <h2>{{ user?.name }}</h2>

    <div class="rank-badge">
      ✨ {{currentRank.title}} ✨
    </div>

  </div>
  <!-- progresso mágico -->
  <div class="level-card">

    <div class="level-header">
      <span>Nível {{currentLevel}}</span>
      <span>{{user?.score}} / {{nextRank.xp}} XP</span>
    </div>

    <div class="xp-bar">
      <div
        class="xp-fill"
        [style.width.%]="progressPercentage">
      </div>
    </div>

    <div class="next-level">
      Próximo título: <strong>{{nextRank.title}}</strong>
    </div>

  </div>

  <!-- card de informações -->
  <div class="info-card">

    <div class="item">
      <span>📧 Email</span>
      <span>{{ user?.email }}</span>
    </div>

    <div class="item">
      <span>🎂 Nascimento</span>
      <span>{{ user?.dateOfBirth | date:'dd/MM/yyyy' }}</span>
    </div>

  </div>

  <!-- ações -->
  <div class="actions">

    <!-- <button class="btn magia">
      ✏️ Editar perfil
    </button> -->

    <button class="btn logout" (click)="logout()">
      🚪 Sair
    </button>

  </div>

</ion-content>
