<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- topo -->
  <div class="profile-header">

    <div class="avatar">
      <img src="../../assets/images/magico.png" />
    </div>

    <h2>{{ user.name }}</h2>
    <p class="email">{{ user.email }}</p>

  </div>

  <!-- card de informações -->
  <div class="info-card">

    <div class="item">
      <span>📧 Email</span>
      <span>{{ user.email }}</span>
    </div>

    <div class="item">
      <span>🎂 Nascimento</span>
      <span>{{ user.dateOfBirth | date:'dd/MM/yyyy' }}</span>
    </div>

  </div>

  <!-- ações -->
  <div class="actions">

    <button class="btn magia">
      ✏️ Editar perfil
    </button>

    <button class="btn logout">
      🚪 Sair
    </button>

  </div>

</ion-content>
