<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <h2>Suas atividades</h2>
    <p class="sub">Revise ou refaça quando quiser ✨</p>

    <!-- filtros -->
    <div class="filtros">

      <button
        class="filtro"
        [class.active]="tipoSelecionado === 'multiple-choice'"
        (click)="getHistoricByType('multiple-choice')">
        🧠
      </button>

      <button
        class="filtro"
        [class.active]="tipoSelecionado === 'complete'"
        (click)="getHistoricByType('complete')">
        ✍️
      </button>

      <button
        class="filtro"
        [class.active]="tipoSelecionado === 'flashcard'"
        (click)="getHistoricByType('flashcard')">
        🃏
      </button>

    </div>

    <!-- lista -->


  </div>
  @for(atividade of userActivityProgress; track $index){
    <app-activity-result [userActivityProgress]="atividade"></app-activity-result>
  }

  <app-loading [loading]="isLoading"></app-loading>

</ion-content>
