<ion-header>
  <ion-toolbar class="toolbar-header">
    <ion-title>Magia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <h2>✨ Inteligência Artificial</h2>

    <p class="subtitulo">
      Aprenda do seu jeito! Peça à Magia e nossa bruxinha te ajuda 🧙‍♀️
    </p>

    <div class="botoes">

      <button class="btn magia" (click)="goToConfig('Multipla_Escolha')">
        🧠 Múltipla Escolha
      </button>

      <button class="btn magia" (click)="goToConfig('Completar')">
        ✍️ Completar Frases
      </button>

      <button class="btn magia" (click)="goToConfig('Flashcards')">
        🃏 Flashcards
      </button>

    </div>

    <div class="doll-container">
      <img src="../../assets/images/magia.png" class="magic-doll" />
    </div>

  </div>

</ion-content>
