<!-- 

  <ion-header>
    <ion-toolbar>
      <ion-title>Magia: Inteligência Artificial</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Magia: Inteligência Artificial</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Aprenda do seu jeito! Pede a Magia que nossa bruxinha te ajuda</p>
  <p><button class="multiplaEscolha">Múltipla Escolha</button></p>
  <p><button>Complete os espaços</button></p>
  <p><button>Flashcards</button></p>
  <img src="../../assets/images/magia.png" alt="Imagem de exemplo" class="boneca-magica"/> 
</ion-content>
 -->

 <ion-header>
  <ion-toolbar>
    <ion-title>Magia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <h2>✨ Inteligência Artificial</h2>

    <p class="subtitulo">
      Aprenda do seu jeito! Peça à Magia e nossa bruxinha te ajuda 🧙‍♀️
    </p>

    <div class="botoes">

      <button class="btn magia">
        🧠 Múltipla Escolha
      </button>

      <button class="btn magia">
        ✍️ Completar Frases
      </button>

      <button class="btn magia">
        🃏 Flashcards
      </button>

    </div>

    <div class="doll-container">
      <img src="../../assets/images/magia.png" class="magic-doll" />
    </div>

  </div>

</ion-content>
