ion-toolbar {
  --background: linear-gradient(135deg,#7d6ffb, #ff6363);
  --color: white;
}

ion-content {
  --background: radial-gradient(circle at top, #eceaff, #f7f7ff);
}
.toolbar-header{
   padding-top: 5px;
}
/* container */
.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 0 16px;
}

/* título */
h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.sub {
  color: #666;
  margin-bottom: 20px;
}

/* filtros */
.filtros {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.filtro {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;

  font-size: 20px;
  cursor: pointer;

  background: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);

  transition: all 0.2s;
}

.filtro.active {
  background: linear-gradient(135deg, #6C63FF, #8A7CFF);
  color: white;
  transform: scale(1.1);
}

/* lista */
.lista {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* card */
.card {
  background: white;
  padding: 16px;
  border-radius: 16px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.08);

  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  transform: translateY(-3px);
}

/* header */
.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.tipo {
  font-size: 12px;
  color: #8A7CFF;
}

.data {
  font-size: 12px;
  color: #aaa;
}

/* tema */
.tema {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* footer */
.footer {
  font-size: 13px;
  color: #666;
}
