@if(curiosidade){
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button text="Previous" icon="caret-back">aaaa</ion-back-button> -->
      </ion-buttons>
      <ion-title>Back Button</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  [fullscreen]="true">
    <div class="hero">
      <img [src]="curiosidade.img_header" />
    </div>
    <div class="content-container">
      <h1>{{ curiosidade.title }}</h1>
      <p class="intro">
        {{ curiosidade.textPart1 }}
      </p>
      <img *ngIf="curiosidade.img_middle"
            [src]="curiosidade.img_middle"
            class="mid-image" />
      <p *ngIf="curiosidade.textPart2">
        {{ curiosidade.textPart2 }}
      </p>
      <img *ngIf="curiosidade.img_bottom"
            [src]="curiosidade.img_bottom"
            class="bottom-image" />
    </div>
  </ion-content>
}

