<ion-content class="ion-padding coloured-border">
  <ion-img src="../../assets/images/magia_logo.png" alt="magia-logo" class="logo ion-margin-bottom"></ion-img>
  <ion-img src="../../assets/images/magia.png" alt="Imagem de exemplo" class="logo-bruxinha bounce"></ion-img>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item class="custom-space">
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="tertiary">
    Entrar
  </ion-button>
  <ion-button class="login-google" expand="block">
    Logar com Google
  </ion-button>
</ion-content>
