.coloured-border{
  border: 6px solid rgba(96, 48, 255, 0.6); /* borda base */
  border-radius: 12px; /* cantos arredondados */
  box-shadow: 0 0 20px 4px rgba(96, 48, 255, 0.6); /* sombra esfumada */
  display: block;

}

.logo{
  height: 20%

}

.logo-bruxinha{
  height: 40%
}

.bounce {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

.custom-space{
  margin-bottom: 30px;
}
