<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estudo-ia">
      <ion-icon name="sparkles"></ion-icon>
      <ion-label>Magia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="curiosidades">
      <ion-icon name="bulb"></ion-icon>
      <ion-label>Curiosidades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
