<ion-router-outlet class="router-outlet"></ion-router-outlet>

<div class="navigation-tabs">
  <a href="/tabs/estudo-ia" class="tab-link">
    <ion-icon name="sparkles" class="estudo-ia"></ion-icon>
    <label class="label-1 estudo-ia">Magia</label>
  </a>
  <a href="/tabs/historico" class="tab-link">
    <ion-icon name="planet-outline" class="historico"></ion-icon>
    <label class="label-2 historico">Histórico</label>
  </a>
  <a href="/tabs/curiosidades" class="tab-link">
    <ion-icon name="bulb" class="curiosidades"></ion-icon>
    <label class="label-3 curiosidades">Curiosidades</label>
  </a>
  <a href="/tabs/perfil" class="tab-link">
    <ion-icon name="person-circle" class="perfil"></ion-icon>
    <label class="label-4 perfil">Perfil</label>
  </a>
</div>
