<ion-header>
  <ion-toolbar>
    <ion-title>Flashcards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <div class="top">
      <p class="contador">
        {{ index + 1 }} / {{ flashcards.length }}
      </p>
      <p class="hint">Toque na carta ✨</p>
    </div>

    <div class="card-container" (click)="flipCard()">
      <div class="card" [class.flipped]="isFlipped">
        <div class="face front">
          <span class="label">Pergunta</span>
          <p>{{ currentCard?.word }}</p>
          <div class="pronunciation-container"(click)="speak(currentCard?.word); $event.stopPropagation()">
            <button class="pronunciation-btn">
              <span class="icon">&#x1F3A4;</span>
              <span>Ouvir pronúncia</span>
            </button>
          </div>
        </div>
        <div class="face back">
          <span class="label">Resposta</span>
          <p>{{ currentCard?.definition_pt }}</p>
        </div>
      </div>
    </div>

    <div class="actions">
      <button
        class="action-btn forgot-btn"
        (click)="esqueci()">
        <span>&#x1F635;</span>
        <span>Esqueci</span>
      </button>

      <button
        class="action-btn remembered-btn"
        (click)="lembrei()">
        <span>&#x2728;</span>
        <span>Lembrei</span>
      </button>
    </div>
  </div>

  <app-modal-acertos
    [open]="isModalAcertosOpen"
    [correctAnswers]="acertos"
    [totalQuestions]="quantidade"
  ></app-modal-acertos>
  <app-loading [loading]="isloading"></app-loading>
  <app-erro [error]="error" [errorMessage]="mensagemDeErro"></app-erro>
</ion-content>

