.magic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(20, 10, 50, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* container */
.magic-container {
  text-align: center;
  color: white;
}

/* boneca */
.magic-doll {
  width: 120px;
  margin-bottom: 16px;

  animation: pulsar 2s ease-in-out infinite;
}

/* texto */
.magic-container p {
  font-size: 16px;
  opacity: 0.9;
  animation: brilhoTexto 1.5s infinite;
}

.logo-bruxinha{
  display: block;
  margin: 20px auto;
}

.bounce {
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}
