<ion-header>
  <ion-toolbar>
    <ion-title>Complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" *ngIf="completeActivity">

    <!-- progresso -->
    <div class="progress-container">
      <div
        class="progress-bar"
        [style.width.%]="((counter + 1) / completeActivityArray.length) * 100">
      </div>
    </div>

    <p class="contador">
      {{ counter + 1 }} / {{ completeActivityArray.length }}
    </p>

    <!-- frase -->
    <div class="card-frase">
      <p class="frase">
        {{ partes[0] }}

        <input
          type="text"
          [(ngModel)]="userAnswer"
          [ngClass]="{
            'correto': isCorrect,
            'errado': isCorrect === false
          }"
          placeholder="..."
          [disabled]="isDisabled"
        />

        {{ partes[1] }}
      </p>
    </div>

    <button class="btn magia" (click)="checkAnswer()" [disabled]="isDisabled">
      Conferir ✨
    </button>

    @if(isCorrect !== null){

    <div class="magic-feedback" [ngClass]="isCorrect ? 'success' : 'error'">

      <div class="feedback-glow"></div>

      <div class="feedback-header">

        <div class="feedback-icon">
          {{ isCorrect ? '✨' : '🔮' }}
        </div>
        <div>
          <h3>
            {{ isCorrect
              ? 'Feitiço lançado com sucesso!'
              : 'A magia não funcionou...' }}
          </h3>
          <span>
            {{ isCorrect
              ? 'Você acertou a resposta.'
              : 'Confira a explicação abaixo.' }}
          </span>
        </div>

    </div>

    <div class="feedback-explanation">
      Resposta correta: {{completeActivity.correct_answer_es}}.
      {{ completeActivity.explanation_pt }}
    </div>

    <button class="feedback-button" (click)="next()">

      {{
        counter + 1 === completeActivityArray.length
          ? 'Finalizar'
          : 'Continuar'
      }}

    </button>

    </div>

  }

</div>
<app-modal-acertos
    [open]="isModalAcertosOpen"
    [correctAnswers]="acertos"
    [totalQuestions]="quantidade"
  ></app-modal-acertos>
<app-erro [error]="error" [errorMessage]="mensagemDeErro"></app-erro>
<!-- <app-modal
  [isOpen]="isModalOpen"
  title="Deseja sair da atividade?"
  message="Você irá perder o progresso!"
  (confirm)="sairDaAtividade()"
  (cancel)="closeModal()"
></app-modal> -->

</ion-content>
