<ion-header>
  <ion-toolbar>
    <label (click)="openModal()">X</label>
    <ion-title>Multipla Escolha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" *ngIf="completeActivity">

    <!-- progresso -->
    <div class="progress-container">
      <div
        class="progress-bar"
        [style.width.%]="((counter + 1) / completeActivityArray.length) * 100">
      </div>
    </div>

    <p class="contador">
      {{ counter + 1 }} / {{ completeActivityArray.length }}
    </p>

    <!-- frase -->
    <div class="card-frase">
      <p class="frase">
        {{ partes[0] }}

        <input
          type="text"
          [(ngModel)]="userAnswer"
          [ngClass]="{
            'correto': isCorrect,
            'errado': isCorrect === false
          }"
          placeholder="..."
        />

        {{ partes[1] }}
      </p>
    </div>

    <button class="btn magia" (click)="checkAnswer()">
      Conferir ✨
    </button>

    @if(isCorrect !== null){
      <div class="feedback-box" [ngClass]="isCorrect ? 'ok' : 'erro'">
        <p class="mensagem">
          <span class="emoji">
            {{ isCorrect ? '✨' : '❌' }}
          </span>
          {{ isCorrect ? 'Acertou!' : 'Ops! Não foi dessa vez' }}
        </p>
      </div>
    }


    @if(isCorrect !== null){
      <div class="explicacao-box">
        {{ completeActivity.explanation }}
      </div>
    }
</div>

<app-modal
  [isOpen]="isModalOpen",
  title="Deseja sair da atividade?",
  message="Você irá perder o progresso!",
  (confirm)="sairDaAtividade()",
  (cancel)="closeModal()"
></app-modal>

</ion-content>
