<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MultiplaEscolha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MultiplaEscolha</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>{{multiplaEscolha.question}}</p>
  @for(option of multiplaEscolha.options; track $index){
    <button (click)="checkAnswer(option)">{{option}}</button>
    <br>
  }

</ion-content>
