<ion-header >
    <ion-toolbar class="toolbar-header">
      <ion-title size="large">Curiosidades</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div class="marginForHeader"></div>

  <img class="curiosidades-img" src="../../assets/images/curiosidadesMenor.PNG" />
  <!-- @for(curiosidade of curiosidades; track curiosidade.id){
    <ion-card (click)="openCuriosityDetail(curiosidade.id)">
      <ion-img  [src]="curiosidade.img_header" />
      <ion-card-header>
        <ion-card-title>{{curiosidade.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  } -->

</ion-content>
