.logo{
  height: 20vh;
  display: inline-block;
}

.toolbar-header{
   padding-top: 5px;
}

ion-toolbar {
  --background: linear-gradient(135deg,#7d6ffb, #ff6363);
  --color: white;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

ion-header {
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

ion-content{
  --background: #f5f6ff;
}

ion-card{
  --background: white;
  border-radius: 16px;
  margin: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

ion-card-title{
  font-weight: 600;
  font-size: 22px;
}

ion-card-header{
  padding-bottom: 10px;
}



ion-card-content {
  color: #666;
  font-size: 16px;
}

.curiosidades-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* pulsar */
@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/* brilho no texto */
@keyframes brilhoTexto {
  0% {
    text-shadow: 0 0 5px #8A7CFF;
  }

  50% {
    text-shadow: 0 0 15px #C6BFFF;
  }

  100% {
    text-shadow: 0 0 5px #8A7CFF;
  }
}


ion-header{
  position: fixed;
}


.marginForHeader{
 margin-top: 40px !important;
}

