.logo{
  height: 20vh;
  display: inline-block;
}

// @media (min-width: 768px) {
//   ion-card {
//     max-width: 700px;
//     margin: 16px auto;
//   }
// }

ion-toolbar {
  --background: linear-gradient(135deg,#7d6ffb, #ff6363);
  --color: white;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

ion-header {
  border-radius: 0 0 16px 16px;
  overflow: hidden;
}

ion-content{
  --background: #f5f6ff;
}

ion-card{
  --background: white;
  border-radius: 16px;
  margin: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

ion-card-title{
  font-weight: 600;
  font-size: 22px;
}

ion-card-header{
  padding-bottom: 10px;
}



ion-card-content {
  color: #666;
  font-size: 16px;
}


.magic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(20, 10, 50, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* container */
.magic-container {
  text-align: center;
  color: white;
}

/* boneca */
.magic-doll {
  width: 120px;
  margin-bottom: 16px;

  animation: pulsar 2s ease-in-out infinite;
}

/* texto */
.magic-container p {
  font-size: 16px;
  opacity: 0.9;
  animation: brilhoTexto 1.5s infinite;
}

/* pulsar */
@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/* brilho no texto */
@keyframes brilhoTexto {
  0% {
    text-shadow: 0 0 5px #8A7CFF;
  }

  50% {
    text-shadow: 0 0 15px #C6BFFF;
  }

  100% {
    text-shadow: 0 0 5px #8A7CFF;
  }
}


ion-header{
  position: fixed;
}


.marginForHeader{
  margin-top: 80px !important;
}
